@charset "UTF-8";
* {
  margin: 0;
  padding: 0; }

html {
  height: 100vh; }

body {
  height: 100vh;
  background-image: url(../img/star.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-color: #000; }

div.timeline {
  overflow-y: scroll; }

/* --- 基本変数
X軸はタイムラインはpx, メニューは%が基準
Y軸はvhが基準
*/
#menu {
  position: fixed;
  top: 30vh;
  left: 2.5vw;
  width: calc( 100vw - 50vw - 2.5vw * 2 - 2.5vw); }

#searchWindow {
  margin: auto;
  padding-top: 10vh;
  height: 20vh; }

#favList {
  margin-top: 50px;
  display: block;
  flex-wrap: wrap; }

#timeLine {
  position: fixed;
  right: 2.5vw;
  top: 30vh;
  width: 50vw; }

#tl-container {
  position: fixed;
  width: 50vw;
  height: 60%;
  overflow-y: scroll; }

#tlList {
  width: 48vw;
  padding-left: 4%;
  padding-right: 4%;
  height: 100%;
  overflow-y: scroll;
  margin: 0 auto;
  display: block;
  flex-wrap: wrap; }

.webinfo-component {
  border-radius: 5px;
  width: 182px;
  height: 128px;
  display: inline-block;
  vertical-align: middle;
  font-size: 12px;
  position: relative;
  margin: 10px; }
  .webinfo-component .brand {
    width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    z-index: 1; }
  .webinfo-component .frontground {
    background: -moz-linear-gradient(top, rgba(29, 176, 237, 0.2) 0, rgba(0, 0, 0, 0.3) 100%);
    background: -webkit-linear-gradient(top, rgba(29, 176, 237, 0.2) 0, rgba(0, 0, 0, 0.3) 100%);
    background: linear-gradient(to bottom, rgba(29, 176, 237, 0.2) 0, rgba(0, 0, 0, 0.3) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#331db0ed',endColorstr='#66000000',GradientType=0);
    display: inline-block;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 10; }
    .webinfo-component .frontground .title {
      z-index: 0;
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      -o-text-overflow: ellipsis;
      text-overflow: ellipsis;
      position: relative;
      color: #FFF;
      font-weight: bold;
      padding-left: 10px;
      padding-right: 10px;
      display: block; }
  .webinfo-component .url-brand {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    float: left;
    height: 20px;
    width: 20px;
    margin: 4px 10px 0; }

@media (max-width: 768px) {
  .webinfo-component {
    width: 250px !important; } }
.memo-component {
  border: 1px solid #EFEFEF;
  border-radius: 10px;
  background: #EFEFEF;
  width: 500px;
  height: 140px;
  font-size: 18px;
  padding: 15px;
  position: relative;
  margin-bottom: 40px; }
  .memo-component .brand {
    float: left;
    width: 140px;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 15px; }
  .memo-component .titel {
    display: inline-block;
    margin-bottom: 10px;
    font-weight: 600;
    color: #292f33; }
  .memo-component .description {
    color: #292f33;
    display: block;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 5px; }

@media (max-width: 768px) {
  .twitter-rich {
    width: 100%;
    font-size: 12px;
    height: 100px; } }
@media (max-width: 768px) {
  .twitter-rich .brand {
    width: 100px;
    height: 100px; } }
@media (max-width: 768px) {
  .twitter-rich .titel {
    margin-bottom: 5px; } }
@media (max-width: 768px) {
  .twitter-rich .twitter_creator {
    margin-bottom: 5px; } }
@media (max-width: 768px) {
  .twitter-rich .description {
    font-size: 12px;
    line-height: 14px; } }
.panel-container {
  width: 100%;
  height: 100%; }

.react-tabs__tab-list {
  border-bottom: 1px solid #aaa;
  margin: 0 0 10px;
  padding: 0; }

.react-tabs__tab {
  display: inline-block;
  border: 1px solid transparent;
  border-bottom: none;
  bottom: -1px;
  position: relative;
  list-style: none;
  padding: 6px 12px;
  background: #aaa;
  border-radius: 5px 5px 0 0;
  cursor: pointer; }

.react-tabs__tab--selected {
  background: #fff;
  border-color: #aaa;
  color: black;
  border-radius: 5px 5px 0 0; }

.react-tabs__tab--disabled {
  color: GrayText;
  cursor: default; }

.react-tabs__tab:focus {
  box-shadow: 0 0 5px #0188fe;
  border-color: #0188fe;
  outline: none; }

.react-tabs__tab:focus:after {
  content: "";
  position: absolute;
  height: 5px;
  left: -4px;
  right: -4px;
  bottom: -5px;
  background: #fff; }

.react-tabs__tab-panel {
  display: none; }

.react-tabs__tab-panel--selected {
  display: block; }

.fav-component {
  border-radius: 5px;
  width: 30%;
  display: inline-block;
  font-size: 12px;
  position: relative;
  margin: 10px; }
  .fav-component .brand {
    width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    z-index: 1; }
  .fav-component .frontground {
    background: -moz-linear-gradient(top, rgba(29, 176, 237, 0.2) 0, rgba(0, 0, 0, 0.3) 100%);
    background: -webkit-linear-gradient(top, rgba(29, 176, 237, 0.2) 0, rgba(0, 0, 0, 0.3) 100%);
    background: linear-gradient(to bottom, rgba(29, 176, 237, 0.2) 0, rgba(0, 0, 0, 0.3) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#331db0ed',endColorstr='#66000000',GradientType=0);
    height: auto;
    display: inline-block;
    border-radius: 5px;
    width: 100%;
    position: relative;
    z-index: 10; }
  .fav-component .titel {
    z-index: 2;
    position: relative;
    padding-top: 15%;
    color: #FFF;
    font-weight: bold;
    padding-left: 10px;
    padding-right: 10px;
    display: block; }
  .fav-component .description {
    display: block;
    z-index: 2;
    position: relative;
    color: #FFF;
    margin: 0 10px 10px; }
  .fav-component .url {
    display: block;
    z-index: 2;
    position: relative; }
    .fav-component .url a {
      color: #FFF !important;
      text-decoration: none !important;
      font-size: 10px;
      color: #EEE; }
  .fav-component .url-brand {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    float: left;
    height: 20px;
    width: 20px;
    margin: 4px 10px 0; }

@media (max-width: 768px) {
  .fav-component {
    width: 250px !important; } }

/*# sourceMappingURL=style.css.map */
