@charset "utf-8";
/* --- 基本変数
X軸はタイムラインはpx, メニューは%が基準
Y軸はvhが基準
*/

//メニュー
$menuTop: 5vh;
$menuLeft: 2.5vw;
$menuRightMargin: 2.5vw;

$menuSearchWindowTop: $menuTop;
$menuSearchWindowWidth: 80%;
$searchWindowHeight: 20vh;

// タイムライン
$timeLineRight: $menuLeft;
$timeLineTop: $menuTop;
$timeLineWidth: 40vw;
$timeLineHeight: 100vh - 2 * $menuTop;

$tlListWidth: $timeLineWidth - 2;
$tlListHeight: 100%;


// --- スタイル

// メニュー
#menu{
  position: fixed;
  top: $menuTop;
  left: $menuLeft;
  width: calc( 100vw - #{$timeLineWidth} - #{$menuLeft} * 2 - #{$menuRightMargin});

}
// 検索窓
#searchWindow{
  margin: auto;
  padding-top: ($searchWindowHeight / 2);
  height: $searchWindowHeight;
}
// お気に入りリスト
#favList{
  display: block;
  flex-wrap: wrap;
}

// タイムライン
#timeLine{
  position: fixed;
  right: $timeLineRight;
  top: $timeLineTop;
  width: $timeLineWidth;
  height: $timeLineHeight;
  margin: 0;
  padding: 0;
}

#tl-container{
  position: fixed;
  background-color: rgba(255, 255, 255, 0.33);
  width: $timeLineWidth;
  height: $timeLineHeight;
  margin: 0;
  padding: 0;
  overflow-y:scroll
}

#tlList{
  margin: auto;
  width: $tlListWidth;
  height: $tlListHeight;
  overflow-y: scroll;
}
