@charset "utf-8";

$width: 90vw;
$max_width: 300px;

$bg_color: rgba(255, 255, 255, 0.5);
$bg_color_focus: rgba(255, 255, 255, 1);
$bg_color_hover: rgba(255, 255, 255, 0.75);
$font_color: rgba(255, 255, 255, 1);
$font_color_forus: rgba(33, 33, 33, 1);

input {
  border: none;
  background-color: $bg_color;
  color: $font_color;
  padding: 5px 10px;
  border-radius: 0.3em;
  text-align: center;
  transition-duration: 0.5s;
  &:hover{
    background-color: $bg_color_hover;
  }
  &:focus{
    transform: scale(1.1, 1.1);
    background-color: $bg_color_focus;
    color: $font_color_forus;
  }
}

// 入力済み
.entered{
  background-color: $bg_color_focus;
  color: $font_color_forus;
  &:hover{
    background-color: $bg_color_focus;
  }
}

::-webkit-input-placeholder {
  color: #FFFFFF;
}

#searchWindow input{
  width: $width;
  max-width: 300px;
}
