@charset "utf-8";

*{
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", YuGothic, "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, "メイリオ", Meiryo, sans-serif;
}

html{
  height: 100vh;
}

body {
  height: 100vh;

  // 背景の設定
  background-image: url(../img/mountain.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-color: #000;
}


div.timeline{
    overflow: hidden;
}
