
.memo-component {
    border: 1px solid #EFEFEF;
    border-radius: 10px;
    background: #EFEFEF;
    width: 500px;
    height: 140px;
    font-size: 18px;
    padding: 15px;
    position: relative;
    margin-bottom: 40px;
    .brand {
      float: left;
      width: 140px;
      height: 100%;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      margin-right: 15px;
    }
    .titel {
      display: inline-block;
      margin-bottom: 10px;
      font-weight: 600;
      color: #292f33;
    }
    .description {
      color: #292f33;
      display: block;
      font-size: 14px;
      line-height: 16px;
      margin-bottom: 5px;
    }
  }

  @media (max-width: 768px) {
    .twitter-rich {
      width: 100%;
      font-size: 12px;
      height: 100px;
    }
  }

  @media (max-width: 768px) {
    .twitter-rich .brand {
      width: 100px;
      height: 100px;
    }
  }

  @media (max-width: 768px) {
    .twitter-rich .titel {
      margin-bottom: 5px;
    }
  }

  @media (max-width: 768px) {
    .twitter-rich .twitter_creator {
      margin-bottom: 5px;
    }
  }

  @media (max-width: 768px) {
    .twitter-rich .description {
      font-size: 12px;
      line-height: 14px;
    }
  }
