.react-tabs__tab-list {
  //border-bottom: 1px solid #aaa;
  margin: 0 0 10px;
  padding: 0;
  text-align: center;
}

.react-tabs__tab {
  display: inline-block;
  text-decoration: none;
  color: #668ad8;
  margin: 0 10px 0 10px;
  width: 30px;
  height: 30px;
  font-size: 14px;
  //line-height: 50%;
  border-radius: 50%;
  border: double 4px #668ad8;
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
  transition: all .6s;
  cursor: pointer;
}
.react-tabs__tab:hover{
  transform: scale(1.4,1.4)  rotate(150deg);
}


.react-tabs__tab--selected {
  //background: blue;
  transform:scale(1.4,1.4) rotate(150deg);
  border-color: blue;
  color: blue;
}

.react-tabs__tab--disabled {
  color: GrayText; 
  cursor: default;
}

.react-tabs__tab:focus {
  box-shadow: 0 0 5px hsl(208, 99%, 50%);
  border-color: hsl(208, 99%, 50%);
  outline: none;
  
}

.react-tabs__tab:focus:after {
  content: "";
  position: absolute;
  height: 5px;
  left: -4px;
  right: -4px;
  bottom: -5px;
  background: #fff;
}

.react-tabs__tab-panel {
  display: none;
}

.react-tabs__tab-panel--selected {
  display:  block;
}
