@charset "utf-8";

.TL-item{
  width: 200px;
  height: 160px;
  display: inline-block;
  margin-top: 10px;
}

.webinfo-component {
  border-radius: 5px;
  width: 182px;
  height: 148px;
  display: inline-block;
  vertical-align: middle;
  font-size: 12px;
  position:  relative;
  margin: 10px;
  .brand {
    width: 100%;
    height: calc(100% - 20px);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    bottom: 0;
    z-index: 0;
  }
  .title {
    z-index: 2;
    width: 100%;
    height: 20px;
    white-space:nowrap;
    background: -webkit-linear-gradient(top, rgba(29, 176, 237, 0.2) 0, rgba(0, 0, 0, 0.3) 100%);
    background: linear-gradient(to bottom, rgba(29, 176, 237, 0.2) 0, rgba(0, 0, 0, 0.3) 100%);
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    word-wrap: normal;
    position: relative;
    padding-top: 1px;
    color: #FFF;
    font-weight: bold;
    border-radius: 4px;/*角の丸み*/
    padding-left: 10px;
    padding-right: 10px;
    display: block;
    text-shadow: 1px 1px 0 #000,
    -1px 1px 0 #000,
    1px -1px 0 #000,
    -1px -1px 0 #000;
  }
  .frontground {
    background: -webkit-linear-gradient(top, rgba(29, 176, 237, 0.2) 0, rgba(0, 0, 0, 0.3) 100%);
    background: linear-gradient(to bottom, rgba(29, 176, 237, 0.2) 0, rgba(0, 0, 0, 0.3) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#331db0ed',endColorstr='#66000000',GradientType=0);
    display: inline-block;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 10;
  }
  .frontground:hover{
    filter:alpha(opacity=80);
    -moz-opacity: 0.8;
    opacity: 0.8;
  }

}

@media (max-width: 768px) {
  .webinfo-component {
    width: 250px !important;
  }
}

// --- Xボタン
.TL-item .X-button{
  position: relative;
  width: 40px;
  top: -155px;
  left: 170px;
  z-index: 20;
  float: left;
  transition-duration: 0.5s;
  &:hover{
    transform: scale(1.05, 1.05);
  }
}
